.App{
  font-family: sans-serif;
}

.Llogo{
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.5);
  width:220px;  
}

div .pg-cont{
  height: 100%;
}

div .row{
  height: 60vh;
  min-height:600px ; 
  text-align: center;
  position: relative;
}


.form-color{
  background-color: var(--Cgrey);
}

p{
  color:rgb(216, 218, 217);
  font-weight: bold;
}

.btn-color{
  background-color: var(--Cgreen);
}

.formL, .btn-color{
  color: white;
  font-size:22px;
  font-weight: 400;  
}


a, .btn-log{
  font-size:20px;
  color: var(--Cgrey);
}

a:hover{
  color: var(--Cgreen);
}