$sidebar-bg-color: #1d1d1d;
$submenu-bg-color: rgba(255, 255, 255, 0.05);
$submenu-bg-color-collapsed: rgba(29, 29, 29, 0.95);
$sidebar-color: #adadad;
$highlight-color: #d8d8d8;
$icon-bg-color: rgba(255, 255, 255, 0.05);
$icon-size: 35px;

@import '~react-pro-sidebar/dist/scss/styles.scss';

#board .pro-sidebar-inner {
  background-color: var(--Cgrey);
  box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
}


#board .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
  color: rgba(255, 255, 255, 0.993);
  margin: 10px 0px;
  font-size: 18px;
  font-weight: bold;
}

#board .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item:hover {
  color: var(--Cgreen); 
}

.LlogoImg{
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.9);
  width:220px;  
}

a:hover {
  text-decoration: none;
}

#board {
  height: 100vh;

  .btn-toggle {
    cursor: pointer;
    width: 35px;
    height: 35px;
    background: var(--Cgrey);
    color: #fff;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    display: none;
  }

  .sidebar-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .sidebar-btn {
      padding: 1px 15px;
      border-radius: 40px;
      text-decoration: none;
      margin: 0 auto;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .collapsed {
    .sidebar-btn {
      display: inline-block;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      line-height: 40px;
      padding: 0;
    }
  }

  
  @media (max-width: 767.98px) {
    overflow-x: hidden;
    header {
      h1 {
        font-size: 24px;
      }
    }
  }
  @media (max-width: $breakpoint-md) {
    .btn-toggle {
      display: flex;
    }

    &.rtl {
      .btn-toggle {
        margin-left: auto;
      }
    }
  }
}